.addItem {
  width: clamp(300px, 100%, 800px);
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.controlContainer {
  display: flex;
  justify-content: space-between;
}

.rightSideControls {
  display: flex;
  gap: 1rem;
}

.backImg {
  width: 50px;
  cursor: pointer;
}

.pinImg {
  width: 35px;
  cursor: pointer;
}

.textContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.titleText,
.descriptionText {
  border: none;
  outline: none;
  padding: 1rem;
  width: 100%;
}

.titleText {
  font-size: 2rem;
}

.descriptionText {
  resize: none;
  flex: 1;
}

.descriptionText {
  font-size: 1rem;
}
