.item {
  width: 200px;
  height: 200px;
  border: 3px solid #ff0060;
  border-radius: 25px;
  padding: 1rem;
  overflow: hidden;
  background-color: white;
  cursor: pointer;
  word-wrap: break-word;
}

.pinContainer {
  display: flex;
  justify-content: flex-end;
}

.item > p {
  margin-top: 1rem;
}
