.item {
  width: 200px;
  height: 200px;
  border: 2px solid #ff0060;
  border-radius: 25px;
  padding: 1rem;
  overflow: hidden;
  background-color: white;
  cursor: pointer;
}

.item > p {
  margin-top: 1rem;
}
